#header{
    background-color:white;
    width: 99%;
    height: 13%;
    position: absolute;
}
.logo{
    height: 14%;
    width: 10%;
    padding: 5px;
    position: absolute;
    top: 0%;
}
.lista{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 35px ;
    position:absolute;
    top: 0%;
    left: 20%;
    list-style-type: none;
}
.lista1{
    padding: 0px 40px;
    display: inline-block;
}
.lupa{
    height: 4%;
    width: 2%;
    padding: 40px;
    position: absolute;
    top: 0%;
    left: 70%;
    
}
.carro{
    height: 4%;
    width: 2%;
    padding: 40px;
    position: absolute;
    top: 0%;
    left: 78%;
    
}
body{
    background-color:black ;

}
.titulo{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    padding: 10%;
    color: white;
}
.casco{
    width: 30%;
    height: 40%;
    position: relative;
    left: 50%;
    padding: 10%;
    border-radius: 50%;
}
#caracteristicas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 16% 11% ;
    position:absolute;
   color: white;
}
#footer{
    background-color:white;
    width: 99%;
    height: 20%;
    position:absolute;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.redes{
    height: 30px;
    width: 30px;  
    position: relative;
    top:30px;
    padding: 30px;
    left: 70%;
}
